$primary-color: #19264f;
$secondary-color: #25a569;
$secondary-dark-color: #1b8f4e;
$disabled-color: #b0c4de;
$tertiary-color: #21abde;
$error-color: #f84240;
$warning-color: #ce0924;
$gray-color: #dde2e5;
$focus-box-shadow: rgba(0, 123, 255, 0.5);
